<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All the utility tools for you</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body>
  <div class="header">
    <div class="tit">Music Box</div>

<div class="search">
      <img src="search.svg">
    </div>
  <div class="inp">
    <input type="text"onchange="search(this)"placeholder="Nhập Tên Bài Hát Hoặc Ca Sĩ">
  </div>
  </div>
  <div id="app">
    <div v-if="load">
      <div class="loading"><div class="lds-facebook"><div></div><div></div><div></div></div></div>
    </div>
    <div v-else>
      <div v-if="index == 'home'">
        <div class="phdr">{{title}}</div>
        <div class="list"v-for="i in data">
          <img :src="i.thumbnail">
          <div class="title">
            <div class="song":id="i.uid"@click="open">{{i.name}}</div>
            <div class="sing">{{i.artist}}</div>
          </div>
        </div>
      </div>
      <div v-else-if="index == 'play'">
        <div class="view">
    <div class="bar">
      
      <div class="status">
        <div class="song">{{pdata.name}}</div>
        <div class="sing">{{pdata.artist}}</div>
      </div>
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    
    <div class="banner">
      <img :src="pdata.img">
    </div>
    
    <div class="control">
      <div class="ran">
        <span id="cur">00:00</span>
        <input type="range"class="slide"value="0"min="0"max="100">
        <span id="total">00:00</span>
      </div>
      <div class="bt">
        
        <span @click="ref"><img :src="(re)?'refresh.svg':'refresh-b.svg'"></span>
        <span @click="prev"><img src="prev.svg"></span>
        <span @click="play"id="play"><img src="play.svg"></span>
        <span @click="next"><img src="next.svg"></span>
        <span @click="rand"><img :src="(ran)?'random.svg':'random-b.svg'"></span>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  <div class="footer">
    Author By Poker
  </div>
  <script src="app.js"></script>
</body>

</html>